@model WebNC_Project.Models.RoomType

@{
    ViewBag.Title = "Danh sách loại phòng";
}
@section styles {
    <!--DataTable CSS-->
    <link href="~/Areas/Server/resources/plugins/jquery-datatable/skin/bootstrap/css/dataTables.bootstrap.css" rel="stylesheet" />

    <link href="~/Areas/Server/resources/plugins/sweetalert/sweetalert.css" rel="stylesheet" />
}
<div class="card">
    <div class="header">
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-6">
                <h2>
                    @ViewBag.Title.ToUpper()
                </h2>
            </div>
            <div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-3">
                <button type="button" class="btn btn-primary btn-block waves-effect" onclick="addNew()">
                    <i class="material-icons">add</i>
                    <span>ADD NEW ROOM TYPE</span>
                </button>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="table-responsive">
            <table id="table" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                <thead>
                    <tr>
                        <th>
                            Mã loại phòng
                        </th>
                        <th>
                            Tên loại phòng
                        </th>
                        <th>
                            Số phòng thuộc loại
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!--Modal-->
<div class="modal fade" id="roomtypeModal" role="dialog" aria-labelledby="roomtypeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="roomtypeModalBody">
        </div>
    </div>
</div>
@section scripts{
    <!--DataTable JS-->
    <script src="~/Areas/Server/resources/plugins/jquery-datatable/jquery.dataTables.js"></script>
    <script src="~/Areas/Server/resources/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
    <script src="~/Areas/Server/resources/plugins/sweetalert/sweetalert.min.js"></script>
    <script>
        $(function () {
            var table = $('#table').DataTable({
                "oSearch": { "sSearch": "@ViewBag.Search" },
                "ajax": {
                    "url": '@Url.Action("GetList")',
                    "type": "get",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "ID"},
                    { "data": "NameType"},
                    { "data": "Count" },
                    {
                        "render": function (data) {
                            var btnEdit = `<button type="button" class="btn-edit-enti btn btn-success waves-effect" >Update</button> `;
                            var btnRemove = `<button type="button" class="btn-delete-enti btn btn-danger waves-effect" >Remove</button> `;
                            return btnEdit + btnRemove
                        }
                    }
                ]
            });
            $('#table tbody').on('click', '.btn-edit-enti', function () {
                var data = table.row($(this).parents('tr')).data();
                edit(data.ID)
            });
            $('#table tbody').on('click', '.btn-delete-enti', function () {
                var data = table.row($(this).parents('tr')).data();
                Remove(data.ID)
            });
        })

        function addNew() {
            $.get("@Url.Action("Create")", null , function (res) {
                $("#roomtypeModalBody").html(res);
                $("#roomtypeModal").modal('show');
            })
        };

        function edit(id) {
            $.get("@Url.Action("Edit")", { id: id } , function (res) {
                $("#roomtypeModalBody").html(res);
                $("#roomtypeModal").modal('show');
            })
        }

        function Create() {
            var modal = $("#roomtypeModal");
            var form = $("#addForm");
            var enti = form.serialize();
                $.post("@Url.Action("Create")", enti, function (res) {
                    if (res == true) {
                        modal.modal('hide');
                        window.location.reload();
                    }
                    else if (res == false) {
                        alert("Error");
                    }
                    else $("#roomtypeModalBody").html(res);
                })
        }

        function Edit() {
            var modal = $("#roomtypeModal");
            var form = $("#editForm");
            var enti = form.serialize();
            $.post("@Url.Action("Edit")", enti, function (res) {
                    if (res == true) {
                        modal.modal('hide');
                        window.location.reload();
                    }
                    else if (res == false) {
                        alert("Error");
                    }
                    else $("#roomtypeModalBody").html(res);
                })
        }

        function Remove(idtype) {
            swal({
                title: "Do you want to remove this room type?",
                text: "Room type ID: " + idtype,
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                showLoaderOnConfirm: true,
            }, function () {
                    $.post("@Url.Action("Remove")", { id: idtype }, function (res) {
                        if (res == true) {
                            swal("Remove success");
                            window.location.reload();
                        }
                        else swal(res);
                    })
            })
        }
    </script>
}